
mat-grid-tile {
    background:lightblue ;
  }
  .Product{
    padding: 10px 5px;
  }
  .home{
    padding-top: 70px;
  }
  :host /deep/ .mat-grid-tile-content{
    align-items: baseline;
  justify-content: start;
    flex-direction: column;
  }
  .prds{
    height: 100%;
    width:100%;
    aspect-ratio: 3/2;
    object-fit:contain;
    mix-blend-mode: color-burn;
  }