
mat-grid-tile {
    background:lightblue ;
  }
  .Product{
    padding: 10px 5px;
    margin: auto;
  }
  .home{
    padding-top: 70px;
  }
  /* :host /deep/ .mat-grid-tile-content{
    align-items: baseline;
  justify-content: start;
    flex-direction: column;
  }*/
  .prds{
    height: 100%;
    width:100%;
    aspect-ratio: 3/2;
    object-fit:contain;
    /* mix-blend-mode: color-burn; */
  } 
  .carousel-inner{
    max-width: 100%; 
    max-height: auto;
  }

  .carousel-item img{
    border-radius: 45px;
    width:  100px;
    height: 100px;
    object-fit: cover;
  }

  .cards {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
  }
.product-card{
  position: relative;
  border-radius: 5%;
  height :450px;
  width: 350px;
  background-color: white;
  padding-bottom: 5%;
  cursor: pointer;
  object-fit: contain;
  overflow: hidden;
  flex-wrap: wrap;
}
mat-card-actions{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1 1 auto;
}
.product-card img{
  mix-blend-mode:multiply;
  opacity: 100%;
  aspect-ratio: 4/3;
  height: fit-content;
  object-fit: contain;
  filter: contrast(1.2);
  transition: .5s;
  cursor: pointer;
  mask: linear-gradient(135deg,rgba(0, 0, 0, 0.582) ,#000,rgba(0, 0, 0, 0.884) 60%)
    100% 100%/250% 250%;

}

.product-card img:hover{
  margin-top: -5px;
  mask-position: 0 0;
  /* transition: margin 0.5s ease-in-out; */
  transform: scale(1);
}
  .cards .product-card:hover{
    box-shadow: -6px 5px 6px 5px  rgba(187, 169, 68, 0.212);
  }