<div class="customer">
    <div>
        <h1 mat-dialog-title>Sign in</h1>
    </div>
    <div mat-dialog-content >
        <form [formGroup]="LoginForm">
            <mat-form-field appearance="outline" *ngIf="Hide"   >
                <mat-label>Email/Phone</mat-label>
                <!-- <mat-hint *ngIf="inputtype === 'text'">{{hint}}</mat-hint> -->
                <input type="{{inputtype}}" matInput formControlName="emailorphone" minlength="10" autocomplete="email" placeholder="Email/Phone"  (input)="change()">
                <mat-icon matSuffix>{{suffix}}</mat-icon>
                <mat-error>{{errormsg}}</mat-error>
                <mat-hint><button mat-button type="submit" style="cursor: pointer;" (click)="Hide=!Hide" *ngIf="LoginForm.controls['emailorphone'].valid && Hide" > Continue</button></mat-hint>
                
              </mat-form-field>
              <!-- <mat-form-field appearance="outline" *ngIf="Hide">
                  <mat-label>Phone</mat-label>
                  <input type="tel" matInput formControlName="phone" placeholder="Phone Number">
                  <mat-error *ngIf="LoginForm.controls['phone'].invalid">Enter valid PhoneNumber</mat-error>
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-hint style="cursor: pointer;" (click)="Hide=!Hide">Sign in using Mail Id</mat-hint>
                </mat-form-field> -->
                <mat-form-field appearance="outline" *ngIf="!Hide">
                    <mat-label>One Time Password</mat-label>
                    <input type="text" matInput formControlName="OTP"  placeholder="Enter the OTP recivied in your Mail/PhoneNumber">
                    <mat-error >Enter valid PhoneNumber</mat-error>
                    <mat-hint><button mat-button style="cursor: pointer;" (click)="Hide=!Hide"> <-- Back</button></mat-hint>
                  </mat-form-field>
        </form>
            </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="btn btn-warning" [disabled]="!LoginForm.valid">Close</button>
            <button mat-button mat-dialog-close *ngIf="LoginForm.valid" class="btn btn-warning" [disabled]="LoginForm.invalid">SignIn</button>
        </div>
</div>