mat-toolbar{
    background:transparent;
    backdrop-filter: blur(3px);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 9;
}
#formfield{
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 2px;
}

:host /deep/ .mat-list-item-content {
    padding: 0!important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  :host ::ng-deep .mat-badge-content 
{
left: 10px !important;
top: -4px !important;
background-color: red;
}

.brand{
    font-size: large;
    text-shadow: 3px 3px 5px purple;
    -webkit-text-fill-color: azure;
    text-align: center;
    /* -webkit-text-stroke-color: purple; */
    /* -webkit-text-stroke-width: 2px; */
}
mat-list{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
mat-list mat-list-item{
    /* width: 100%;
    height: 100%; */
    font-size: 32px;
}
.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: right;
    /* border: 1px solid; */

}
.icon mat-icon{
   flex: 1 auto;
}
/* .customer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
    border: 1px solid black;
    margin: auto;
    padding: 2px;
    color: #ffffff;
    font-weight: bold;
    z-index: 9;  
    position: fixed;
    box-shadow: 6px 5px 6px 5px whitesmoke;
    background:transparent;
    backdrop-filter: blur(4px);
    animation: myAnim 2s ease 0s 1 normal forwards;
    width: 100%;
    height: 100%;
    
} */
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.demo-section + .demo-section {
    margin-top: 16%;
  }

  .footer_sec {
    width: 100%;
    padding: 80px 0;
  }
  a{
    text-decoration:none;
  }
  .foo_top_header_one {
    background-color: #15151e;
    color: #fff;
  }
  .section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .foo_top_header_one {
    color: #fff;
  }
  .kilimanjaro_part {
    margin-bottom: 30px;
  }
  .foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
  }
  .kilimanjaro_part h4,
  .kilimanjaro_part h5 {
    margin-bottom: 30px;
  }
  .kilimanjaro_single_contact_info > p,
  .kilimanjaro_single_contact_info > h5,
  .kilimanjaro_blog_area > a,
  .foo_top_header_one .kilimanjaro_part > p {
    color: rgba(255, 255, 255, 0.5);
  }
  p,
  ul li,
  ol li {
    font-weight: 300;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .kilimanjaro_bottom_header_one {
    background-color: #111;
  }
  .section_padding_50 {
    padding: 15px 0;
  }
  .kilimanjaro_bottom_header_one p {
    color: #fff;
    margin: 0;
  }
  p,
  ul li,
  ol li {
    font-weight: 300;
  }
  .kilimanjaro_bottom_header_one a {
    color: inherit;
    font-size: 14px;
  }
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  .m-top-15 {
    margin-top: 15px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .kilimanjaro_widget > li {
    display: inline-block;
  }
  p,
  ul li,
  ol li {
    font-weight: 300;
  }
  ol li,
  ul li {
    list-style: outside none none;
  }
  .kilimanjaro_widget a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 4px;
    padding: 7px 12px;
  }
  .kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }
  .kilimanjaro_links a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
  }
  .top-15 {
    margin-top: 15px;
  }
  .foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  .kilimanjaro_part h4,
  .kilimanjaro_part h5 {
    margin-bottom: 20px;
  }
  .kilimanjaro_social_links > li {
    display: inline-block;
  }
  p,
  ul li,
  ol li {
    font-weight: 300;
  }
  .kilimanjaro_social_links a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 3px;
    padding: 7px 12px;
  }
  .kilimanjaro_blog_area .kilimanjaro_date {
    color: #27ae60;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .kilimanjaro_blog_area > p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.3;
    margin-bottom: 0;
  }
  .kilimanjaro_works > a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.33333333%;
    z-index: 1;
  }
  .kilimanjaro_thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
  }
  .kilimanjaro_links a i {
    padding-right: 10px;
  }
  .footer_area {
    position: relative;
    z-index: 1;
  }
  .footer_bottom p > i,
  .footer_bottom p > a:hover {
    color: #27ae60;
  }
  .social_links_area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .social_links_area > a:hover {
    color: #27ae60;
  }
  .inline-style .social_links_area > a:hover {
    background-color: transparent;
    color: #27ae60;
    border: 0px solid transparent;
  }
  .single_feature:hover .feature_text h4 {
    color: #27ae60;
  }
  .kilimanjaro_blog_area {
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    padding: 0 0 15px 90px;
    position: relative;
    z-index: 1;
  }
  .kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }
  .kilimanjaro_thumb img {
    width: 100%;
  }
  .kilimanjaro_single_contact_info a {
    color: rgba(255, 255, 255, 0.5);
  }
  .kilimanjaro_widget li a,
  .kilimanjaro_social_links a {
    transition: 0.3s ease-in-out;
  }
  .kilimanjaro_widget li a:hover,
  .kilimanjaro_social_links a:hover {
    background: #ff7272;
    color: #fff;
  }
  .kilimanjaro_links li a:hover {
    color: #ff7272;
  }
  #scroll-top {
    font-size: 23px;
    line-height: 0;
    border-radius: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  #scroll-top:hover {
    background: #f9a310;
    color: #000;
  }
  .header .sticky-header.fixed .logo {
    max-width: 155.25px;
  }
  
  .list li.active {
    font-weight: bold !important;
  }
  